h5, .sample-text, .description, .contact {
    text-shadow: 1px 0px 2px white, -1px 0px 2px white, 0px 1px 2px white, 0px -1px 2px white,
    1px 0px 3px white, -1px 0px 3px white, 0px 1px 3px white, 0px -1px 3px white;
}

h5 {
    font-weight: bold;
}

.sample-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

body {
    width: 100%;
    padding-bottom: 20px;
    background-image: url("../images/bg-320-test.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
}

.cube-control {
    margin-top: 6rem;
}

.badge {
    font-size: 12px;
    background-color: blue;
    width: 30%;
    box-shadow: 0 4px 2px rgba(12, 62, 102, 0.623);
    transition: transform .3s, box-shadow .1s;
    cursor: pointer;
}

.badge:hover {
box-shadow: 0 9px 4px rgba(12, 62, 102, 0.623);
}
.badge:hover, .linkedin:hover, .treehouse:hover, .github:hover {
    transform: scale(1.2);
    }

.badge:focus, .bp-github:focus, .bp-linkedin:focus {
    transform: scale(1.2);
    }

.github, .treehouse {
    margin-left: 5px !important;
}

.linkedin, .github {
    margin-right: 5px !important;
}

.description {
    font-size: 1.25rem;
    margin-top: 15px !important;
}

.footer {
    width: 100%;
    height: 100%;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

.contact {
    font-size: 1.2rem;
}

.bp-social {
    padding-right: 0;
    padding-left: 0;
}

.github {
    border: 1px solid rgb(93, 42, 93);
    border-radius: 50%;
    background-color: rgb(93, 42, 93);
    &-path{
        fill: white;
    }
}

.treehouse, .github {
    padding: 2px;
}

.linkedin {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.treehouse {
    border: 2px solid rgb(44, 207, 99);
    background-color: rgb(4, 102, 36);;
    border-radius: 50%;
}

.linkedin-path {
    fill: rgb(9, 55, 204);
}

.linkedin, .github, .treehouse {
    width: 30px;
    height: 30px;
}